<table>
<tr>
    <td>
        <p>Erick Juarez Espinosa</p>
        <p>Ser la mera vrg de programador c:</p>
        <p>Quiero ser un auto</p>
    </td>
    <td>
        <img src="..\assets\imagenes/ErickEspinosa.jpg" width="100" height="100">
    </td>

    <td>
        <ul>
            <li>erikc_48@hotmail.com</li>
            <li>272-.162-8542</li>
            <li>El trebol, Orizaba, Ver</li>
            <li>Usuario de gitHub:Er1ck_Esp1n0sa</li>
        </ul>
    </td>
    
</tr>
</table>